<!--TODO: Implement owner header-->
<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li><a href="#">ORDERS</a></li>
            <li class="menu-text is-active">DASHBOARD</li>
            <li><a href="#">ADMIN</a></li>
            <button class="restaurant-owner-logout-button button">logout</button>
            <img class="restaurant-owner-profile-img" src="https://img.icons8.com/ultraviolet/40/000000/user-female-circle.png">
        </ul>
    </div>
</div>
