<p><button class="button" data-open="exampleModal11">Click me for a modal</button></p>

<div class="reveal" id="exampleModal11" aria-labelledby="exampleModalHeader11" data-reveal data-animation-out="fade-out">
    <h1 id="exampleModalHeader11">Label for the Modal!</h1>
    <p class="lead">I am even more accessible than the other modals.</p>
    <button class="close-button" data-close aria-label="Close Accessible Modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<p><button class="button" data-toggle="animatedModal10">Click me for a modal</button></p>

<div class="reveal" id="animatedModal10" data-reveal data-close-on-click="true" data-animation-in="spin-in" data-animation-out="fade-out">
    <h1>Whoa, I'm dizzy!</h1>
    <p class="lead">There are many options for animating modals, check out the Motion UI library to see them all</p>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
