<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/owner_restaurant.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/restaurant_owner_script.js"></script>

    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/vendor/foundation.min.css" />
    <script src="https://code.jquery.com/jquery-2.1.4.min.js "></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js "></script>


    <body>
        <div class="row">
            <div class="columns">
                <ul class="tabs" data-tabs id="example-tabs">
                    <li class="tabs-title is-active" id="owners-order-tab"><a href="#panel1" aria-selected="true" id="owners-order-tab">Orders</a></li>
                    <li class="tabs-title"><a href="#panel2">Dashboard</a></li>
                </ul>
                <div class="tabs-content" data-tabs-content="example-tabs">
                    <div class="tabs-panel is-active" id="panel1">
                        <%include ./owner_orders%>
                    </div>
                    <div class="tabs-panel" id="panel2">
                        <%include ./owner_dashboard%>
                    </div>
                </div>
            </div>
        </div>

    </body>

    <script>
        $(document).foundation();
    </script>
    </body>

</html>
