<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css" integrity="" crossorigin="anonymous">

    <!-- Compressed JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/js/foundation.min.js" integrity="" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/Midterm-Project//public/styles/owner_restaurant.css">
</head>

<body>

    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li><a href="#">ORDERS</a></li>
                <li class="menu-text is-active">DASHBOARD</li>
                <li><a href="#">ADMIN</a></li>
                <button class="restaurant-owner-logout-button">logout</button>
            </ul>
        </div>
    </div>

</body>

</html>