<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Restaurant</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="vendor/foundation.min.css" />

  </head>
  <body>

    <header>
      <nav>
        <a href="#"><img src="https://via.placeholder.com/50" alt="restaurant logo"></a>
        <form class="login-form">
          <input type="email" name="email" placeholder="Email">
          <input type="password" name="password" placeholder="Password">
          <button>Login</button>
        </form>
      </nav>
    </header>

    <div class="restaurant-image">
      <img src="https://via.placeholder.com/650x250" alt="">
    </div>

    <main class="menu">
      <div class="menu_categories">
        <button class="all_menu_items">All</button>
        <button class="main_menu_items">Mains</button>
        <button class="appetizer_menu_items">Appetizers</button>
        <button class="dessert_menu_items">Dessert</button>
      </div>

      <div class="menu_items">
        <h2>Full Menu</h2>
        <div class="thumbnail">
          <img src="https://via.placeholder.com/250x150" alt="">
          <div>
            <h4>Item 1</h4>
            <p>$Price</p>
          </div>
        </div>
        <div class="thumbnail">
          <img src="https://via.placeholder.com/250x150" alt="">
          <div>
            <h4>Item 2</h4>
            <p>$Price</p>
          </div>
        </div>
        <div class="thumbnail">
          <img src="https://via.placeholder.com/250x150" alt="">
          <div>
            <h4>Item 2</h4>
            <p>$Price</p>
          </div>
        </div>
        <div class="thumbnail">
          <img src="https://via.placeholder.com/250x150" alt="">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="thumbnail">
          <img src="https://via.placeholder.com/250x150" alt="">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="thumbnail">
            <img src="https://via.placeholder.com/250x150" alt="">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="thumbnail">
          <img src="https://via.placeholder.com/250x150" alt="">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="thumbnail">
          <img src="https://via.placeholder.com/250x150" alt="">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="thumbnail">
          <img src="https://via.placeholder.com/250x150" alt="">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="thumbnail">
          <img src="https://via.placeholder.com/250x150" alt="">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="thumbnail">
          <img src="https://via.placeholder.com/250x150" alt="">
          <p>Lorem, ipsum dolor sitconsectetur adipisicing elit.</p>
        </div>
        <div class="thumbnail">
          <img src="https://via.placeholder.com/250x150" alt="">
          <p>Lorem, ipsum dolor sitconsectetur adipisicing elit.</p>
        </div>
        <div class="thumbnail">
          <img src="https://via.placeholder.com/250x150" alt="">
          <p>Lorem, ipsum dolor siconsectetur adipisicing elit.</p>
        </div>
        <div class="thumbnail">
          <img src="https://via.placeholder.com/250x150" alt="">
          <p>Lorem, ipsum dolor sconsectetur adipisicing elit.</p>
        </div>
        <div class="thumbnail">
          <img src="https://via.placeholder.com/250x150" alt="">
          <p>Lorem, ipsum dolor consectetur adipisicing elit.</p>
        </div>
      </div>

      <div class="order">
        <h6>Your Cart</h6>
      </div>
    </main>


    <footer>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, necessitatibus.</p>
    </footer>
  </body>
</html>
