// See: https://sass-lang.com/

body {
  background-color: #c7f0db;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

nav {
  background-color: #6c7b95;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  img {
    height: 75px;
    width: 150px;
  }
}
.restaurant-image {
  width: 90%;
  height: 35vh;
  margin: 125px auto 50px;
  img {
    width: 100%;
    height: 100%;
  }
}

main.menu {
  margin: 0 auto 50px;
  display: flex;
  .menu_categories {
    width: 20%;
    height: 300px;
    position: sticky;
    left: 2%;
    top: 15%;
    display: flex;
    flex-direction: column;
    button {
      width: 80%;
      margin-bottom: 20px;
      background-color: red;
      border-radius: 10px;
      padding: 10px 0;
      cursor: pointer;
    }
  }
  .menu_items {
    margin-left: 4%;
    width: 45%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    h2 {
      width: 100%;
      text-align: center;
    }
    .card {
      margin-top: 50px;
      width: 300px;
      height: 300px;
      background-color: #8bbabb;
      img {
        width: 300px;
        height: 75%;
      }
    }
    .item-header {
      display: flex;
      justify-content: space-between;
    }
  }
  div.order {
    display: none;
    height: 265px;
    width: 300px;
    background-color: green;
    position: fixed;
    bottom: 5%;
    right: 5%;
  }
}


/* HOME PAGE */
// .page-container {
//   display: flex;
//   background-color: red;
//   width: 100%;
//   margin: auto auto;
// }

// .restaurants-container {
//   position: absolute;
//   top: 8%;
//   display: flex;
//   flex-direction: column;
//   background-color: blue;
//   width: 35%;
//   margin-left: 1%;
// }

// .restaurant-cards {
//   display: flex;
//   flex-wrap: wrap;
//   border: 1px solid  black;
//   margin-bottom: 2.5%;
//   cursor: pointer;

//   img {
//     padding: 1%;
//     max-width: 40%;
//     margin-right: 2.5%
//   }

//   .card-text {
//     display: flex;
//     flex-direction: column;

//     footer {
//       justify-content: flex-end;
//     }
//   }
// }

/* Restaurant Page */
#page-container {
  position: relative;
  top: 100px;
  display: flex;
  padding: 0 1%;

  #nav-container {
    // border: 1px solid black;
    // width: 20%;
    margin-right: 2.5%;
    display: flex;
    flex-direction: column;
  }

  #restaurant-container {
    // border: 1px solid black;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    header.restaurant-header {
      display: flex;
      height: 200px;

      #restaurant-img {
      width: 75%;
      object-fit: cover;
      }

      #restaurant-information {
        display: block;
        background: lightblue;
        width: 25%;
        flex-grow: 1;
        padding-top: 12%;
        text-align: right;

        p {
          font-size: 0.65rem;
          margin-bottom: 0.25rem;
          margin-right: 0.5rem;
        }
      }

    }


    h1.restaurant-title {
      text-align: center;
    }

    #menu-items-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 2%;
      grid-row-gap: 2%;
    }
  }

  /* Order Container */
  #order-container {
    // border: 1px solid black;
    position: fixed;
    bottom: 1.5%;
    right: 0%;
    width: 20%;
    padding-bottom: 1.5%;
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;

    #orders {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .order-card {
      display: flex;
      width: 90%;
      margin: 0 auto;
      margin-bottom: 5%;

      &:hover {
        border: 1px solid black;
        border-radius: 5px;
      }

      img.order-img {
        height: 100px;
        width: 100px;
        margin-right: 0.5rem;
      }

      .order-item-description {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 0.25rem;

        p {
          margin: 0.5rem;
        }
        .order-item-quantity {
          flex-grow: 1
        }

        .order-item-name {
          flex-grow: 5;
          font-size: 0.75rem;
        }

        .order-item-price {
          margin-left: 25%;
          flex-grow: 1;
          font-size: 0.75rem;

        }

        #remove-item {
          font-size: 0.75rem;
        }
      }
    }

    #checkout-container {
      width: 90%;
      margin: 0 auto;
      order:-1;
      margin-bottom: 0.5rem;
    }

    button#checkout {
      order: -99;
      margin: 0 auto;
    }

  }
}

/* Menu-Item-Cardss */
.card  {
  padding: 5%;

  .card-img {
    height: 160px;
    width: 160px;
  }

  .card-img-container {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .card-info {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 2fr;
  }

  .card-title {
    font-size: 1rem;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .card-icon {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: right;
    font-size: 0.75rem;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
  }

  .card-price {
    justify-self: right;
  }

  .card-description {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    font-size: 0.75rem;
  }

  button.card-button {
    padding-top: 3rem;
    justify-self: right;
  }
}


