.restaurant-owner-logout-button {
    position: absolute;
    right: 20px;
    background-color: #465881;
}

.restaurant-owner-profile-img {
    position: absolute;
    right: 100px;
}

.restaurant-owner-header-container {
    height: 100px;
    background-color: #465881;
}

.restaurant-owner-label {
    text-align: center
}

.restaurant-owner-card {
    margin: 0 auto;
}

.restaurant-owner-edit-modul {
    height: 250px;
}

.restaurant-owner-edit-image-modul-image {
    height: 100px;
    text-align: center;
    display: table-row-group;
}

.restaurant-owner-table-cell {
    text-align: -webkit-center;
}

.restaurant-owner-table-image-container {
    width: 100px;
    padding: 5%;
}
