//----------Dashboard css--------------------------
.restaurant-owner-logout-button {
    position: absolute;
    right: 20px;
    background-color: #465881;
}

.restaurant-owner-profile-img {
    position: absolute;
    right: 100px;
}

.restaurant-owner-header-container {
    height: 80px;
}

.restaurant-owner-label {
    text-align: center
}

.restaurant-owner-card {
    margin: 0 auto;
}

.restaurant-owner-edit-modul {
    height: 250px;
}

.restaurant-owner-edit-image-modul-image {
    height: 100px;
    text-align: center;
    display: table-row-group;
}

.restaurant-owner-table-cell {
    text-align: -webkit-center;
}

.restaurant-owner-table-image-container {
    width: 100px;
    padding: 5%;
}

//Dashboard footer scss
.owner_footer_container {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 75px;
    background-color: #e6e6e6;
    padding: 1em;
}

.owner_footer_add_button {
    position: absolute;
    right: 40px;
}

.owner-tab {
    height: 80px;
}

//-------------orders css-------------
.owner_orders_main_container {
    position: relative;
    height: 900px;
}

.owner_new_orders_container {
    position: absolute;
    height: 100%;
    width: 70%;
}

.owner_completed_orders_container {
    position: absolute;
    width: 30%;
    height: 100%;
    left: 70%;
    top: 0%;
}

.owner_new_orders_header_container {
    display: flex;
    margin: 2%;
}

.owner_order_card_header {
    display: grid;
}

.owner_order_card_body {
    height: 100px;
    display: contents;
}

.active_order_card_container {
    padding: 0%;
}

//Foundation building blocs--------------------------------------------
